*{
    margin: 0;
    padding: 0;
}
.App {
    background-color: blanchedalmond;
    height: 800px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo{
    font-size: 70pt;
    margin-top: 50px;
    color: #555;
}

.form{
    position: relative;
    width: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}
.submit_container {
    position: relative;
    width: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.task_container{
    position:absolute;
    top: 56px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: #999 5px 5px 10px;
    text-align: right;
}



.input_text {
    padding-left: 10px;
    width: 540px;
    height: 46px;
    font-size: 15pt;
    border: none;
    display: flex;
    align-items: center;
    display: block;
}
.input_text:focus{
    outline: none;
}


.submit_button {
    text-decoration: none;
    margin-right: 1px;
    width: 60px;
    height: 46px;
    border-radius: 10px;
    background-color: yellowgreen;
    color: white;
    border: 1px solid #ccc;
}

.submit_button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
.submit_button:active{
    filter: brightness(0.8);
}

.submit_button:focus{
    outline: none;
}

.delete_all{
    position: absolute;
    width: 595px;
    font-size: 8pt;
    margin-top: 10px;
    
}

.delete_all:hover{
    cursor: default;
}