.header_section {
  position: relative;
  width: 100vw;

  text-align: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;

  margin-top: 10px;
}

.header_items_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-right: 5vw;
  width: 128px;
}
.header_items_facebook {
  width: 8px;
  height: 16px;
  cursor: pointer; /*외않되?*/
}
.header_items_twitter {
  cursor: pointer;
  height: 14px;
  width: 16px;
  left: 32px;
  top: 1px;
}
.header_items_in {
  cursor: pointer;
  height: 16px;
  width: 16px;
  left: 72px;
}
.header_items_instagram {
  cursor: pointer;
  height: 16px;
  width: 16px;
  left: 112px;
}
.header_section_logo {
  position: absolute;
  width: 35vw;
  left: 3vw;
  top: 4vh;
}
.header_section_hamburger {
  position: absolute;
  width: 55px;
  height: 37px;
  right: 5vw;
  top: 114px;
  cursor: pointer;
}
.header_section_background_image {
  height: 100vh;
  width: 100vw;
}

.header_section_mask {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.header_section_typo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 9px 27px 9px 9px;
  text-transform: uppercase;

  position: absolute;

  right: 5vw;
  top: 50vh;

  background: rgba(0, 0, 0, 0.54);
  border-radius: 39px;

  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: right;

  color: white;
}

.header_section_typo_big {
  width: 525px;
  height: 186px;
  font-size: 45px;
  line-height: 62px;
  text-align: right;
}

.header_section_typo_small {
  width: 576px;
  height: 120px;
  font-size: 22px;
  line-height: 40px;
  text-align: right;
}
