.main_section {
  width: 100vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section_upper_title {
  text-align: center;
  line-height: 87px;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #847878;
  margin: 36px 0 103px;
}

.main_section_lower_title {
  text-align: center;
  line-height: 87px;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #847878;
  margin: 138px 0 74px;
}

.item_cards_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw;
  width: 100vw;
}

.offer::after {
  content: 'Offer';
  color: #fec83d;
}

.full-service::after {
  content: 'Full-Service';
  color: #fec83d;
}

.description_upper {
  height: 144px;
  width: 48vw;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.2px;
}
.description_lower {
  height: 76px;
  width: 52vw;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.2px;
  margin: 69px 0 26px;
}
.description_upper::after {
  content: 'Always striving toward ideals. Being true to our values. Clients and beyond.';
  font-size: 20px;
  font-weight: 300;
}

.graph {
  height: 484px;
  width: 731px;
}
.contents_container {
  width: 90vw; /*안하면 가운데 정렬 안돰*/
  display: flex;
  column-gap: 2vw;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

.content_image {
  width: 36vw;
}

.input_container {
  position: relative;
  gap: 230px;
  width: 90vw;
  height: 422px;
  background: #efeff1;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
}

.input_description_wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
  /* border: 1px solid black; */
  border-radius: 19px;
}
.email_input_wrapper {
  position: relative;
  height: 60px;
  width: 35vw;
  border-radius: 5px;
  /* border: 2px solid red; */
}
.email_input {
  /* input과 wrapper을 동일한 크기로 하니까 버튼 크기가 안맞춰지는 문제가 발생했습니다. 일반적인 처리 방법을 알고 싶습니다 */
  background: white;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  height: 55px;
  width: 33vw;
  padding-left: 20px;
}
.subscribe_button {
  position: absolute;
  width: 100px;
  height: inherit;
  bottom: 0;
  left: 70%;
  background: #fec83d;
  border: none;
  color: white;
  border-radius: 5px;
}

.input_description_upper {
  /* font-family: AvertaW01-Semibold; */
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.input_description_lower {
  /* font-family: 'Averta Demo PE Cutted Demo'; */
  font-size: 16px;
  line-height: 140%;
  color: #858585;
}

.bench_image {
  position: absolute;
  height: inherit;
  left: 0;
  border-radius: inherit;
}
