.main_section {
  width: 100vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_section_upper_title {
  text-align: center;
  line-height: 87px;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #847878;
  margin: 36px 0 103px;
}
.main_section_lower_title {
  text-align: center;
  line-height: 87px;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #847878;
  margin: 138px 0 74px;
}

.item_cards_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw;
  width: 100vw;
}

.offer::after {
  content: 'Offer';
  color: #fec83d;
}

.full-service::after {
  content: 'Full-Service';
  color: #fec83d;
}

.description_upper {
  height: 144px;
  width: 48vw;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.2px;
}
.description_lower {
  height: 76px;
  width: 52vw;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.2px;
  margin: 69px 0 26px;
}
.description_upper::after {
  content: 'Always striving toward ideals. Being true to our values. Clients and beyond.';
  font-size: 20px;
  font-weight: 300;
}

.graph {
  height: 484px;
  width: 731px;
}
.contents_container {
  width: 90vw; /*안하면 가운데 정렬 안돰*/
  display: flex;
  column-gap: 2vw;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
}

.content_image {
  width: 36vw;
}
