.main_section {
  width: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_section_title_1 {
  border-radius: 0px;
  text-align: center;
  line-height: 87px;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.20000000298023224px;
  color: #847878;
  margin: 36px 0 103px;
}
.main_section_title_2 {
  border-radius: 0px;
  text-align: center;
  line-height: 87px;
  font-size: 39px;
  font-weight: 700;
  letter-spacing: 0.20000000298023224px;
  color: #847878;
  margin: 138px 0 74px;
}

.item_cards_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 0px;
  gap: 19px;
  width: 1575px;
}

.offer::after {
  content: 'Offer';
  color: #fec83d;
}

.full-service::after {
  content: 'Full-Service';
  color: #fec83d;
}
.description_1 {
  height: 144px;
  width: 643px;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.20000000298023224px;
}
.description_2 {
  height: 76px;
  width: 691px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.20000000298023224px;
  margin: 69px 0 26px;
}
.description_2::after {
  content: 'Always striving toward ideals. Being true to our values. Clients and beyond.';
  font-size: 20px;
  font-weight: 300;
}

.graph {
  height: 484px;
  width: 731px;
}
.contents_container {
  width: 1554px;
  display: flex;
  column-gap: 109px;
  flex-direction: column;
  flex-wrap: wrap;
  height: 799px;
}

.content_image {
  height: 772px;
  width: 714px;
}
