
.item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    height: 46px;
    width: 600px;
    padding-left: 12px;
}

.delete_button {
    margin-right: 2px;
    width: 60px;
    height: 36px;
    border-radius: 10px;
    background-color: pink;
    color: white;
    border: none;
}
.delete_button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.delete_button:active{
    filter: brightness(0.8);
}

.delete_button:focus{
    outline: none;
}
.edit_button {
    margin-right: 2px;
    width: 60px;
    height: 36px;
    border-radius: 10px;
    background-color: skyblue;
    color: white;
    border: none;
}
.edit_button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.edit_button:active{
    filter: brightness(0.8);
}

.edit_button:focus{
    outline: none;
}

.text{
    position: relative;
    font-size: 12pt;
    text-decoration: none;
    background-color: transparent;
    margin-left: 5px;
}

.editor{
    text-decoration: none;
    position: absolute;
    background-color: whitesmoke;
    border: none;
    font-size: 12pt;
    left: 30px;
}
.editor:focus{
    outline: none;
}

.left_box{
    display: flex;
    width:fit-content;
}

.text_toggle{
    text-decoration: line-through;
}

.text:hover{
    cursor:pointer;
}

:visited{
    color: black;
}